* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  text-align: center;
  padding-top: 30rem;
  background-image: url(./assets/forrestdark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100vh;

  font-family: "Inter", sans-serif;
}

h3 {
  font-size: 1.6rem;
  line-weight: 1.9rem;
  color: white;
}

h3 span {
  color: #ffc700;
}

h1 {
  color: #ffc700;
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 8rem;
  font-family: "Emilys Candy", cursive;
}

p {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 7.2rem;
  color: #ffffff;
  opacity: .7;
}

a {
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  opacity: 0.6;
  transform: scale(1.1);
}

a:hover,
.btn-primary {
  text-decoration: none;
  color: black;
  background: #ffc700;
  opacity: 1;
}

.linksSocialNetworks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.linksSocialNetworks a img {
  width: 2.5rem;
  height: 2.5rem;
}

.linksSocialNetworks a {
  background: transparent;
  opacity: 1;
  padding: 2rem;
}
